.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listWrapper{
    display: flex;
    flex-direction: column;
}

.listName{
    font-family: cursive;
    color: darkmagenta;
    margin-left: 25px;
}